  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo center"> News With Mr. Scrappo! <img src="/img/mustache.png" id="mustache"></a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/Giacomo2398/Mr.-Scrappo" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>